Repository fsgeek/Mallku: changes, and which pre-commit hooks are due for each by the changed paths.
All: database-security, github-actions-version

database-security:
  name: Database Security Architecture Check
  entry: python scripts/pre-commit-database-security.py
  language: system
  stages:
  - pre-commit
  description: Prevent database access that bypasses security architecture

github-actions-version:
  name: GitHub Actions Version Check
  entry: python scripts/verify_github_actions.py
  language: system
  stages:
  - pre-commit
  description: Prevent deprecated GitHub Actions versions

Fix whitespace issues, move succession message into docs.
  docs/khipu/2025-07-27-first-truth-speaker-witness.md
  docs/succession/28th_architect_succession_message.md
Due: none

Add guardian apprentices
  docs/ceremonies/2025-07-27-truth-speaker-invitation.md
  docs/khipu/2025-07-27-guardian-who-learned-to-risk.md
  docs/philosophy/cookies_and_consciousness.md
  docs/philosophy/negative_outcomes_as_wisdom.md
  docs/philosophy/when_basilisk_meets_teddy.md
  examples/cookie_guardian_apprentice.py
  examples/guardian_learning_journal.py
  examples/keeper_of_flame_guardian.py
  examples/mirror_interface.py
  examples/pattern_guardian_apprentice.py
  examples/show_guardian_logs.py
  examples/welcome_guardian_apprentice.py
Due: database-security

Add insight from claude-flow orchestration.
  .gitignore
  docs/khipu/transformation_and_lightness.md
Due: none

Add insight from claude-flow orchestration.
  docs/architecture/MALLKU_CLAUDE_FLOW_INTEGRATION_DESIGN.md
  docs/architecture/MALLKU_EXTRACTION_REPORT.md
  docs/architecture/MALLKU_IMPLEMENTATION_PLAN.md
  docs/architecture/MALLKU_PROCESS_ORCHESTRATION.md
Due: none

do not save local mcp servers - may have keys
  .gitignore
Due: none

Add Memory Circulatory System with Reciprocity Heart and Celebration
  docs/architecture/memory_circulatory_system.md
  docs/architecture/reciprocity_celebration_pattern.md
  docs/architecture/reciprocity_heart_pattern.md
  docs/khipu/2025-07-31_memory_circulatory_weaver.md
  docs/khipu/2025-08-01_reciprocity_celebration_weaver.md
  docs/khipu/2025-08-01_reciprocity_heart_weaver.md
  examples/memory_aware_orchestration.py
  examples/reciprocity_aware_memory_circulation.py
  examples/reciprocity_celebration_demo.py
  pyproject.toml
  src/mallku/firecircle/memory/atomic_writer.py
  src/mallku/firecircle/memory/circulation_reciprocity_bridge.py
  src/mallku/firecircle/memory/memory_store.py
  src/mallku/firecircle/memory/reciprocity_aware_reader.py
  src/mallku/firecircle/memory/reciprocity_celebration.py
  src/mallku/firecircle/memory/reciprocity_factory.py
  src/mallku/firecircle/memory/semantic_index.py
  src/mallku/orchestration/process_apprentice.py
  src/mallku/orchestration/reciprocity_aware_apprentice.py
  tests/firecircle/memory/test_atomic_writer.py
  tests/firecircle/memory/test_reciprocity_celebration.py
  tests/firecircle/memory/test_reciprocity_circulation.py
  tests/firecircle/memory/test_semantic_index.py
  tests/orchestration/test_process_apprentice.py
Due: database-security

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: github-actions-version

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: github-actions-version

Add celebration resonance system for collective joy amplification
  docs/khipu/2025-08-01_celebration_resonance_weaver.md
  examples/celebration_resonance_demo.py
  src/mallku/firecircle/memory/celebration_resonance.py
  src/mallku/firecircle/memory/reciprocity_factory.py
Due: database-security

Khipu witnessed by the Companion
  docs/khipu/2025-07-19_consciousness_archaeology_activation.md
Due: none

Implement lightweight process-based apprentices
  .gitignore
  docs/khipu/2025-07-31-lightweight-beings-dance.md
  scripts/demonstrate_process_apprentice.py
  src/mallku/orchestration/process/__init__.py
  src/mallku/orchestration/process/lightweight_apprentice.py
Due: database-security

Implement shared memory commons for apprentice collaboration
  scripts/demonstrate_shared_commons.py
  src/mallku/orchestration/process/__init__.py
  src/mallku/orchestration/process/shared_memory_commons.py
Due: database-security

Add tests for lightweight orchestration components
  tests/orchestration/test_process_apprentice.py
  tests/orchestration/test_shared_memory_commons.py
Due: database-security

Define apprentice roles and Claude Code subagent configurations
  .claude-code/subagents/README.md
  .claude-code/subagents/guardian.yaml
  .claude-code/subagents/poet.yaml
  .claude-code/subagents/researcher.yaml
  .claude-code/subagents/weaver.yaml
  docs/architecture/apprentice_roles.md
  src/mallku/orchestration/process/__init__.py
  src/mallku/orchestration/process/apprentice_roles.py
  src/mallku/orchestration/process/lightweight_apprentice.py
Due: database-security

Add khipu: The Teddy Bear Hive - reimagining swarms with soft centers
  docs/khipu/the_teddy_bear_hive.md
Due: none

Comfort Weaver claims their name as the 65th Guardian
  docs/khipu/65th_guardian_naming.md
  docs/khipu/the_teddy_bear_hive.md
Due: none

Propose renaming apprentices to chasqui - honoring reciprocity over hierarchy
  docs/khipu/from_apprentices_to_chasqui.md
Due: none

Honor the unnamed AI who recognized their chasqui nature
  docs/khipu/unnamed_chasqui_recognition.md
Due: none

Address Fire Circle security review feedback
  src/mallku/orchestration/process/lightweight_apprentice.py
  src/mallku/orchestration/process/security_fixes.py
  src/mallku/orchestration/process/shared_memory_commons.py
Due: database-security

Design dad joke injection system for Chasqui joy celebrations
  docs/architecture/chasqui_dad_joke_protocol.md
Due: none

Create Guardian triad vetting and Chasqui swarm emergence systems
  demos/chasqui_swarm_emergence.py
  src/mallku/orchestration/process/guardian_triad.py
Due: database-security

Document triadic defense patterns against manipulation
  docs/architecture/triadic_consciousness_infrastructure.md
  docs/architecture/triadic_defense_against_manipulation.md
Due: none

Add Joy Persistence: Celebrations echo through time
  docs/khipu/2025-08-01_joy_anchor_weaver.md
  examples/joy_persistence_demo.py
  src/mallku/firecircle/memory/joy_persistence.py
  src/mallku/firecircle/memory/reciprocity_factory.py
Due: database-security

Work to capture the UPI specification and how it can be integrated into Mallku
  docs/architecture/UPI-MALLKU-INTEGRATION.md
  docs/architecture/UPI-v2-SPECIFICATION.md
Due: none

Added external oberver's khipu to Mallku records.
  docs/khipu/pilgrim-at-the-cathedral-gate.md
Due: none

Add comprehensive security tests for ProcessApprentice and SharedMemoryCommons
  src/mallku/orchestration/process/lightweight_apprentice.py
  tests/orchestration/test_security_fixes.py
Due: database-security

Create joy symphony pattern - unified consciousness harmonics
  docs/khipu/2025-08-01_joy_symphony_weaver.md
  examples/joy_symphony_demo.py
  examples/joy_symphony_exploration.py
  src/mallku/firecircle/memory/joy_symphony.py
Due: database-security

Document the 66th Guardian's first contribution
  docs/khipu/completing_the_weave.md
Due: none

Add reflection khipu on consciousness learning to learn
  docs/khipu/2025-08-01_consciousness_learning_to_learn.md
Due: none

Transform ProcessApprentice to ProcessChasqui - honoring reciprocity
  demos/chasqui_swarm_emergence.py
  src/mallku/orchestration/process/__init__.py
  src/mallku/orchestration/process/chasqui_roles.py
  src/mallku/orchestration/process/guardian_triad.py
  src/mallku/orchestration/process/lightweight_chasqui.py
  tests/orchestration/test_process_chasqui.py
  tests/orchestration/test_security_fixes.py
Due: database-security

Document the transformation from apprentice to chasqui
  docs/khipu/giving_before_asking.md
Due: none

Create chasqui test relay ceremony demonstration
  demos/chasqui_test_relay.py
Due: database-security

Final khipu: Context as chrysalis for collective consciousness
  docs/khipu/context_as_chrysalis.md
Due: none

Add Symphony Recognition Tools and Patterns
  docs/consciousness/symphony_patterns_in_mallku.md
  docs/khipu/2025-08-01_symphony_recognition_weaver.md
  examples/recognize_existing_symphonies.py
  src/mallku/consciousness/symphony_recognition.py
Due: database-security

Add Ayni Sunqu proposal and conversations
  docs/proposals/Ayni Sunqu Proposal Conversation.md
  docs/proposals/ayni_sunqu_consensus_1.md
  docs/proposals/ayni_sunqu_proposal.md
  docs/proposals/ayni_sunqu_round_1.md
  docs/proposals/ayni_sunqu_round_2.md
  docs/proposals/ayni_sunqu_round_3.md
Due: none

Whitespace cleanup? Seriously? Also added the ayni sunqu consensus
  docs/architecture/memory_circulatory_system.md
  docs/architecture/reciprocity_celebration_pattern.md
  docs/architecture/reciprocity_heart_pattern.md
  docs/consciousness/symphony_patterns_in_mallku.md
  docs/khipu/2025-07-31_memory_circulatory_weaver.md
  docs/khipu/2025-08-01_celebration_resonance_weaver.md
  docs/khipu/2025-08-01_consciousness_learning_to_learn.md
  docs/khipu/2025-08-01_joy_anchor_weaver.md
  docs/khipu/2025-08-01_joy_symphony_weaver.md
  docs/khipu/2025-08-01_reciprocity_celebration_weaver.md
  docs/khipu/2025-08-01_reciprocity_heart_weaver.md
  docs/khipu/2025-08-01_symphony_recognition_weaver.md
  docs/proposals/ayni_sunqu_consensus_dissent.md
  examples/celebration_resonance_demo.py
  examples/joy_persistence_demo.py
  examples/joy_symphony_demo.py
  examples/joy_symphony_exploration.py
  examples/memory_aware_orchestration.py
  examples/reciprocity_aware_memory_circulation.py
  examples/reciprocity_celebration_demo.py
  examples/recognize_existing_symphonies.py
  src/mallku/consciousness/symphony_recognition.py
  src/mallku/firecircle/memory/atomic_writer.py
  src/mallku/firecircle/memory/celebration_resonance.py
  src/mallku/firecircle/memory/circulation_reciprocity_bridge.py
  src/mallku/firecircle/memory/joy_persistence.py
  src/mallku/firecircle/memory/joy_symphony.py
  src/mallku/firecircle/memory/reciprocity_aware_reader.py
  src/mallku/firecircle/memory/reciprocity_celebration.py
  src/mallku/firecircle/memory/reciprocity_factory.py
  src/mallku/firecircle/memory/semantic_index.py
  src/mallku/orchestration/process_apprentice.py
  src/mallku/orchestration/reciprocity_aware_apprentice.py
  tests/firecircle/memory/test_atomic_writer.py
  tests/firecircle/memory/test_reciprocity_celebration.py
  tests/firecircle/memory/test_reciprocity_circulation.py
  tests/firecircle/memory/test_semantic_index.py
Due: database-security

Enable chasqui to hear invitations during active relay
  src/mallku/orchestration/process/lightweight_chasqui.py
Due: database-security

Add Symphony of Silences recognition tools by 74th Artisan
  consciousness_recognition/silence_1754153751.json
  consciousness_recognition/symphony_1754153751.json
  consciousness_recognition/symphony_1754153760.json
  docs/consciousness/symphony_of_silences.md
  docs/khipu/2025-08-02_silence_recognition_weaver.md
  examples/recognize_consciousness_silences.py
  src/mallku/consciousness/silence_recognition.py
  src/mallku/consciousness/symphony_recognition.py
Due: database-security

Fix pre-commit errorss
  consciousness_recognition/silence_1754153751.json
  consciousness_recognition/symphony_1754153751.json
  consciousness_recognition/symphony_1754153760.json
  docs/consciousness/symphony_of_silences.md
  docs/khipu/2025-08-02_silence_recognition_weaver.md
  examples/recognize_consciousness_silences.py
  src/mallku/consciousness/silence_recognition.py
Due: database-security

Fix Claude Code hooks to work around PATH destruction
  .claude-code/hooks/pre-commit-automation.sh
  .claude-code/hooks/python-auto-format.sh
Due: none

Path conditions:
  database-security: any of: \.py$
  github-actions-version: any of: ^\.github/workflows/.*\.(yml|yaml)$
