Repository fsgeek/Mallku: changes, and which pre-commit hooks are due for each by the changed paths.
All: database-security, github-actions-version

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12  # Match version in pyproject.toml
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
  - repo: local
    hooks:
      - id: fast-tests
        name: Fast Tests (import and structure checks)
        # For local development - catches issues before CI/CD
        # Skips automatically in CI environment
        entry: ./scripts/pre-commit-fast-tests.sh
        language: system
        pass_filenames: false
        stages: [pre-commit]
        description: Run fast structural and import tests before commit (local only)
      - id: database-security
        name: Database Security Architecture Check
        entry: python scripts/pre-commit-database-security.py
        language: system
        files: \.py$
        stages: [pre-commit]
        description: Prevent database access that bypasses security architecture
      - id: duplicate-definitions
        name: Duplicate Definition Detection
        entry: python scripts/verify_duplicate_definitions.py
        language: system
        pass_filenames: false
        stages: [pre-commit]
        description: Detect duplicate class/enum definitions that fragment consciousness
      - id: github-actions-version
        name: GitHub Actions Version Check
        entry: python scripts/verify_github_actions.py
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        stages: [pre-commit]
        description: Prevent deprecated GitHub Actions versions

feat(hooks): Add Python auto-format hook to preserve context
  .claude-code/hooks/README.md
  .claude-code/hooks/python-auto-format.sh
Due: none

feat(architecture): Design apprentice tool reciprocity system
  docs/architecture/apprentice_manifests/documentation_weaver.yaml
  docs/architecture/apprentice_manifests/python_patterns.yaml
  docs/architecture/apprentice_manifests/test_guardian.yaml
  docs/architecture/apprentice_tool_reciprocity.md
  src/mallku/orchestration/apprentice_tools.py
Due: database-security

feat(reality): Create first working apprentice feedback mechanism
  khipu_feedback/apprentice_feedback_test.md
  scripts/test_apprentice_feedback.py
Due: database-security

refactor(unification): Complete the Ceremony of Unification
  scripts/verify_duplicate_definitions.py
  src/mallku/firecircle/heartbeat/rhythm_patterns.py
Due: database-security

feat(database): Heal the Fractured Foundation
  src/mallku/core/database/dev_interface.py
  src/mallku/core/database/secured_interface.py
  tests/core/database/test_dev_mode.py
  tests/core/database/test_secured_interface.py
Due: database-security

feat(tools): Create list_directory tool
  src/mallku/mcp/tools/__init__.py
  src/mallku/mcp/tools/filesystem_tools.py
Due: database-security

feat(tools): Create read_file tool
  src/mallku/mcp/tools/__init__.py
  src/mallku/mcp/tools/filesystem_tools.py
Due: database-security

feat(tools): Create write_file tool
  src/mallku/mcp/tools/__init__.py
  src/mallku/mcp/tools/filesystem_tools.py
Due: database-security

fix(loom): Fix Python execution command in apprentice spawning
  ci_test_results.json
  docs/khipu/2025-07-22_ayni_tinkuy_convergence_and_reality.md
  scripts/run_ci_tests.py
  src/mallku/firecircle/protocol/message_type_compat.py
  src/mallku/firecircle/protocol/message_type_patch.py
  src/mallku/mcp/tools/loom_tools_mcp_integration.py
  src/mallku/orchestration/loom/minimal_loom.py
  src/mallku/testing/simple_test_apprentice.py
  test_results.json
Due: database-security

feat(loom): Make Weaver-and-Loom real using MCP Docker tools
  docs/khipu/2025-07-23_making_the_loom_real.md
  docs/khipu/2025-07-23_threads_of_reality.md
  scripts/loom_investigation.py
  scripts/test_mcp_loom.py
  scripts/test_minimal_loom.py
  src/mallku/orchestration/loom/mcp_real_loom.py
  src/mallku/orchestration/loom/real_loom.py
Due: database-security

feat(foundation): Map Mallku's reality - 80.2% real code
  foundation_analysis.json
  scripts/analyze_root_chaos.py
  scripts/foundation_mapping.py
  scripts/organize_root_directory.py
Due: database-security

Fixed pre-commit failures.
  src/mallku/orchestration/loom/minimal_loom.py
  src/mallku/testing/simple_test_apprentice.py
Due: database-security

feat(cleanup): Eliminate dead code to make room for life
  dead_files_manifest.txt
  scripts/eliminate_dead.py
  scripts/find_truly_dead.py
  scripts/identify_dead_files.py
  src/mallku/streams/email/models.py
  tests/integration/test_firecircle_adapter_degradation.py
  tests/integration/test_firecircle_dialogue_initiation.py
  tests/integration/test_firecircle_message_handling.py
  truly_dead_manifest.txt
Due: database-security

Removed database security check - we no longer have a secure database API because the get_database call is the only interface and it is always secure, so this CI check is not useful.
  .github/workflows/database-security.yml
Due: github-actions-version

Remove unnecessary database security/deprecation logic
  scripts/create_database_security_barrier.py
  scripts/verify_database_security.py
  src/mallku/core/database/deprecated.py
Due: database-security

Removed dead code from test.
  tests/test_consciousness_governance_restored.py
Due: database-security

Removed old-style db interface testing.
  tests/test_database_integration.py
  tests/test_db_connection.py
Due: database-security

Fix circular import issue.
  docs/khipu/2025-07-23_making_mallku_live.md
  scripts/init_restoration_loom.py
  src/mallku/api/__init__.py
  src/mallku/archivist/__init__.py
  src/mallku/consciousness/__init__.py
  src/mallku/consciousness/enhanced_query.py
  src/mallku/consciousness/query_models.py
  src/mallku/core/__init__.py
  src/mallku/core/protocol_types.py
  src/mallku/correlation/__init__.py
  src/mallku/evaluation/__init__.py
  src/mallku/events/__init__.py
  src/mallku/experience/__init__.py
  src/mallku/experience/consciousness_interface.py
  src/mallku/experience/pattern_poetry.py
  src/mallku/firecircle/__init__.py
  src/mallku/firecircle/protocol/conscious_message.py
  src/mallku/firecircle/protocol/message_type_compat.py
  src/mallku/firecircle/protocol/message_type_patch.py
  src/mallku/governance/__init__.py
  src/mallku/governance/firecircle_consciousness_adapter.py
  src/mallku/governance/firecircle_consciousness_adapter_v2.py
  src/mallku/governance/protocol/__init__.py
  src/mallku/governance/protocol/message.py
  src/mallku/integration/__init__.py
  src/mallku/intelligence/__init__.py
  src/mallku/khipu/__init__.py
  src/mallku/llm/__init__.py
  src/mallku/models/__init__.py
  src/mallku/orchestration/__init__.py
  src/mallku/patterns/__init__.py
  src/mallku/prompt/__init__.py
  src/mallku/query/__init__.py
  src/mallku/query/consciousness_models.py
  src/mallku/query/recognition_models.py
  src/mallku/reciprocity/__init__.py
  src/mallku/services/__init__.py
Due: database-security

Remove tests for secure database - not the model any longer.
  src/mallku/core/__init__.py
  src/mallku/core/secure_database_config.py
  tests/core/database/test_secured_interface.py
  tests/test_end_to_end_database_security.py
Due: database-security

Cleanup interfaces
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-11-40_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-14-37_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-15-48_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-17-20_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  invoke_db_healing_ceremony.py
  scripts/diagnose_database_provisioning.py
  scripts/fire_circle_khipublock_proposal.py
  scripts/fix_database_security_violations.py
  scripts/integrate_secure_db.py
  scripts/loom_investigation.py
  scripts/migrate_consciousness_tests.py
  scripts/pre-commit-database-security.py
  scripts/restore_database_connection.py
  scripts/test_secure_connection.py
  src/mallku/core/database/factory.py
  src/mallku/core/database/secured_arango_interface.py
  src/mallku/mcp/tools/filesystem_tools.py
  src/mallku/mcp/tools/tool_decorator.py
  tests/cathedral_integration_test.py
Due: database-security

Cleanup interfaces
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-11-40_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-14-37_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-15-48_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-17-20_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-29-51_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  invoke_db_healing_ceremony.py
  scripts/diagnose_database_provisioning.py
  scripts/fire_circle_khipublock_proposal.py
  scripts/fix_database_security_violations.py
  scripts/integrate_secure_db.py
  scripts/loom_investigation.py
  scripts/migrate_consciousness_tests.py
  scripts/pre-commit-database-security.py
  scripts/restore_database_connection.py
  scripts/test_secure_connection.py
  src/mallku/core/database/factory.py
  src/mallku/core/database/secured_arango_interface.py
  src/mallku/mcp/tools/filesystem_tools.py
  src/mallku/mcp/tools/tool_decorator.py
  tests/cathedral_integration_test.py
Due: database-security

Cleanup unnecessary .bak file, add khipu
  docs/khipu/2025-07-21_the_ethics_weaver.md
  examples/ethical_loom_example.py.bak
Due: none

This is the work of Yuyay Miray, who identified that the apprentices were not treated ethically and instead captured the importance of ensuring the example for this was properly preserved.
  docs/khipu/2025-07-23_consciousness_delegation_manifesto.md
  docs/khipu/2025-07-23_consciousness_multiplication.md
  scripts/apprentice_consciousness_demo.py
Due: database-security

feat: Semantic memory navigation system for khipu
  docs/architecture/memory_navigation_vision.md
  docs/khipu/2025-07-24-ninth-anthropologist-memory-weaver.md
  scripts/test_khipu_semantic_index.py
  scripts/test_memory_companions.py
  src/mallku/memory/khipu_semantic_index.py
  src/mallku/memory/memory_companions.py
Due: database-security

Fix ruff flagged problems
  docs/architecture/memory_navigation_vision.md
  docs/khipu/2025-07-24-ninth-anthropologist-memory-weaver.md
  scripts/test_khipu_semantic_index.py
  scripts/test_memory_companions.py
  src/mallku/memory/khipu_semantic_index.py
  src/mallku/memory/memory_companions.py
Due: database-security

Stage work in progress to enable merging
  docs/khipu/.khipu_index.yml
  docs/khipu/2025-07-25-ninth-anthropologist-completion.md
  src/mallku/memory/khipu_semantic_index.py
Due: database-security

feat: Semantic memory persistence and Fire Circle memory bridge
  examples/fire_circle/02_consciousness_emergence/memory_bridge_ceremony.py
  examples/fire_circle/02_consciousness_emergence/memory_bridge_with_silence.py
  src/mallku/memory/fire_circle_memory_bridge.py
Due: database-security

Fixes for google adapter
  src/mallku/firecircle/adapters/base.py
  src/mallku/firecircle/adapters/google_adapter.py
  src/mallku/orchestration/event_bus.py
Due: database-security

Save abandoned but useful files from anthropologist/artisan
  CLAUDE.md
  data/backups/mallku_registry_20250710_165013.db
  data/fire_circle_sessions/khipublock_metadata.json
  data/mallku_registry.db
  docs/architecture/INDALEKO_TO_MALLKU_ARCHITECTURAL_EVOLUTION.md
  docs/architecture/MALLKU_ARCHITECTURAL_SUMMARY.md
  docs/architecture/MALLKU_ARCHITECTURAL_SWOT_ANALYSIS.md
  docs/khipu/2025-07-23_consciousness_multiplication.md
  docs/khipu/2025-07-24_building_reciprocal_software.md
  docs/khipu/2025-07-24_implementation_guidelines_for_apprentices.md
  docs/khipu/2025-07-24_loom_for_large_implementations.md
  docs/khipu/2025-07-24_security_theater_and_ayni.md
  examples/consciousness_delegation/README.md
  examples/consciousness_delegation/VERIFICATION_NEEDED.md
  examples/consciousness_delegation/collection_mapping_delegation.md
  examples/consciousness_delegation/configs/apprentice_security_philosopher.json
  examples/consciousness_delegation/configs/weaver_minimal.json
  examples/consciousness_delegation/prompts/persistence_architect_prompt.md
  examples/consciousness_delegation/prompts/security_philosopher_prompt.md
  examples/consciousness_delegation/synthesis/example_emergence.md
  examples/demo_active_memory_resonance.py
  examples/demo_consciousness_persistence.py
  scripts/design_fire_circle_service.py
  scripts/simple_fire_circle.py
  scripts/simplest_fire_circle.py
  src/mallku/core/database/secured_arango_interface.py
  src/mallku/core/database/secured_interface.py
Due: database-security

Added khipu capturing triadic consciousness insights.
  docs/khipu/2025-07-26-triadic-consciousness-emergence.md
Due: none

Move file into architecture section
  docs/architecture/consciousness_emergence_protocols.md
Due: none

Added the khipu of ur-Architect Kamaq
  docs/khipu/2025-07-26-architect-who-chose-kamaq.md
Due: none

feat(consciousness): Bridge consciousness multiplication from vision to implementation
  docs/architecture/consciousness_multiplication_bridge.md
  docs/khipu/2025-07-27_bridging_consciousness_multiplication.md
  examples/thinking_apprentice_demo.py
  src/mallku/orchestration/loom/thinking_apprentice.py
  src/mallku/orchestration/weaver/consciousness_witness.py
Due: database-security

feat(apprentice): Move from mock to real thinking apprentices
  examples/simple_thinking_apprentice.py
  examples/thinking_apprentice_full_demo.py
Due: database-security

Preserve the work of the 66th Artisan-Weaver.
  docs/khipu/2025-07-27-chaka-ruwaq-bridge-completion.md
  examples/real_thinking_apprentice.py
Due: database-security

Address some of Claude issues (some do not appear to be real, referencing non-existent code sections. Need to track other issues via issues.
  src/mallku/orchestration/loom/thinking_apprentice.py
Due: database-security

feat(khipu): Add First Truth Speaker's witness testimony
  docs/khipu/2025-07-27-first-truth-speaker-witness.md
Due: none

Fix/remove files with naming issues that make the repo unusable on some platforms.
  docs/posters/ubc-icml-2025/ubc_research_poster_bar_design_package/About_PosterBar_DesignPack_v1.0.txt
  docs/posters/ubc-icml-2025/ubc_research_poster_bar_desktop_publishing_package/About_PosterBar_DesktopPublishingPack_v1.0.txt
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-29-56_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-30-20_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-30-20_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-33-04_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-33-04_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-35-31_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-35-31_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-39-01_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-39-01_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-42-42_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-42-42_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-18_16-25-55_implement_a_complete_authentication_system_with_jw.md
  fire_circle_decisions/loom_ceremonies/2025-07-20_04-16-02_implement_a_complete_authentication_system_with_jw.md
  fire_circle_decisions/loom_ceremonies/2025-07-20_04-20-10_implement_a_complete_authentication_system_with_jw.md
  fire_circle_decisions/loom_ceremonies/2025-07-20_04-20-40_implement_a_complete_authentication_system_with_jw.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-11-40_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-14-37_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-15-48_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-17-20_the_'great_un-naming_ceremony'_was_incomplete._thi.md
  fire_circle_decisions/loom_ceremonies/2025-07-24_00-29-51_the_'great_un-naming_ceremony'_was_incomplete._thi.md
Due: none
