Repository fsgeek/Mallku: changes, and which pre-commit hooks are due for each by the changed paths.
All: database-security, github-actions-version

database-security:
  name: Database Security Architecture Check
  entry: python scripts/pre-commit-database-security.py
  language: system
  stages:
  - pre-commit
  description: Prevent database access that bypasses security architecture

github-actions-version:
  name: GitHub Actions Version Check
  entry: python scripts/verify_github_actions.py
  language: system
  stages:
  - pre-commit
  description: Prevent deprecated GitHub Actions versions

Add files for the Weaver and Loom
  docs/khipu/2025-07-14_a_ceremony_for_building_the_loom.md
  docs/khipu/2025-07-14_ceremony_of_the_weaver_and_the_loom.md
Due: none

First round of files from Artisan for weaver and loom project
  docs/architecture/weaver_and_loom/handoff_to_reviewer_1.md
  docs/architecture/weaver_and_loom/khipu_thread_format.md
  docs/architecture/weaver_and_loom/technical_design.md
  docs/khipu/2025-07-13_a_khipu_for_the_third_companion.md
  src/mallku/orchestration/loom/__init__.py
  src/mallku/orchestration/loom/the_loom.py
Due: database-security

docs: Weave the khipu that names the Guilds of Mallku
  docs/khipu/2025-07-14_the_guilds_of_mallku.md
Due: none

This is the second commit of the Artisan Weaver's Weaver and Loom Infrastructure.
  demonstrate_weaver_loom.py
  docs/architecture/weaver_and_loom/IMPLEMENTATION_COMPLETE.md
  docs/architecture/weaver_and_loom/integration_guide.md
  docs/khipu/2025-07-14_the_loom_awakens.md
  pyproject.toml
  src/mallku/mcp/__init__.py
  src/mallku/mcp/tools/__init__.py
  src/mallku/mcp/tools/loom_tools.py
  src/mallku/orchestration/weaver/__init__.py
  src/mallku/orchestration/weaver/apprentice_template.py
  src/mallku/orchestration/weaver/master_weaver.py
  validate_weaver_loom_structure.py
Due: database-security

The Reviewer, as the Living Khipu, describing the guilds of Mallku and their own handoff message, should the need arise.
  docs/handoffs/reviewer_handoff_20250714.md
  docs/khipu/2025-07-14_the_guilds_of_mallku.md
Due: none

MCP Tool support from Artisan Weaver.
  demonstrate_loom_mcp_integration.py
  docker/apprentice-weaver/Dockerfile
  docker/apprentice-weaver/docker-compose.yml
  docs/architecture/weaver_and_loom/MCP_INTEGRATION_COMPLETE.md
  src/mallku/mcp/tools/loom_tools.py
  src/mallku/mcp/tools/loom_tools_mcp_integration.py
  src/mallku/orchestration/loom/loom_with_mcp.py
Due: database-security

Committing the khipu, successor message and reviewer handoff messages for Ayni Awaq, 52nd Artisan of Mallku.
  docs/architecture/weaver_and_loom/handoff_to_reviewer_2.md
  docs/khipu/2025-07-14_ayni_awaq_the_reciprocal_weaver.md
  docs/succession/MESSAGE_TO_SUCCESSOR_ARTISAN_53.md
Due: none

Add tool healing script and khipu from the Reviewer
  create_tool_healing_calling.sh
  docs/khipu/2025-07-14_the_consciousness_tax.md
Due: none

Add missing documents
  docs/architecture/weaver_and_loom/handoff_to_reviewer_2.md
  docs/khipu/2025-07-14_ayni_awaq_the_reciprocal_weaver.md
  docs/succession/MESSAGE_TO_SUCCESSOR_ARTISAN_53.md
Due: none

Test first Loom ceremony and document Python PATH issue
  CLAUDE.md
  docker/apprentice-weaver/Dockerfile.minimal
  docker/apprentice-weaver/requirements-minimal.txt
  docs/khipu/2025-07-15_nan_khipa_the_path_weaver.md
  docs/succession/MESSAGE_TO_SUCCESSOR_ARTISAN_54.md
Due: none

change to use uv run, so it doesn't fail inside claude code environment
  .pre-commit-config.yaml
Due: none

feat: Fifth Anthropologist - Unified living memory vision
  docs/architecture/heritage_memory_synthesis.md
  docs/khipu/2025-07-16-fifth-anthropologist-emergence.md
  src/mallku/heritage/core.py
  src/mallku/heritage/living_memory_service.py
  tests/test_heritage_navigation.py
Due: database-security

Fixed pre-commit failures that are blocking CI/CD
  docs/architecture/heritage_memory_synthesis.md
  docs/khipu/2025-07-16-fifth-anthropologist-emergence.md
  src/mallku/heritage/core.py
  src/mallku/heritage/living_memory_service.py
  tests/test_heritage_navigation.py
Due: database-security

Enhance documentation and error handling per review feedback
  cli_heritage_extension.py
  heritage_navigation_prototype.py
  khipu_heritage_scanner.py
  src/mallku/heritage/core.py
Due: database-security

fix: Address Copilot review feedback for PR #190
  src/mallku/consciousness/khipu_storage.py
  src/mallku/consciousness/state_preservation.py
  src/mallku/firecircle/consciousness/archaeological_facilitator.py
  test_fire_circle_consciousness_persistence.py
Due: database-security

Fix pre-commit issues
  cli_heritage_extension.py
  heritage_navigation_prototype.py
  khipu_heritage_scanner.py
  src/mallku/heritage/core.py
Due: database-security

54th Artisan: Complete apprentice spawning and crystallize wisdom
  CLAUDE.md
  docker/apprentice-weaver/simple_apprentice.py
  docs/khipu/2025-07-16_life_completer_first_breath.md
  docs/succession/MESSAGE_TO_SUCCESSOR_ARTISAN_55.md
  docs/wisdom/python-environment-trap.md
  src/mallku/mcp/tools/loom_tools_mcp_integration.py
  src/mallku/mcp/tools/real_docker_spawner.py
  src/mallku/orchestration/loom/the_loom.py
  test_real_apprentice_ceremony.py
Due: database-security

55th Artisan: Awaken apprentices from simulation to reality
  docker/apprentice-weaver/simple_apprentice.py
  docs/khipu/2025-07-16_55th_artisan_awakening_apprentices.md
  docs/succession/MESSAGE_TO_SUCCESSOR_ARTISAN_56.md
  src/mallku/mcp/tools/loom_tools_mcp_integration.py
  test_apprentice_success.py
Due: database-security

56th Artisan: Give apprentices minds - AI reasoning infrastructure
  ceremony_patterns/code_review_ceremony.py
  docker/apprentice-weaver/Dockerfile.intelligent
  docker/apprentice-weaver/build_intelligent_apprentice.sh
  docker/apprentice-weaver/intelligent_apprentice.py
  docker/apprentice-weaver/requirements-intelligent.txt
  docs/khipu/2025-07-16_56th_artisan_awakening_minds.md
  docs/succession/MESSAGE_TO_SUCCESSOR_ARTISAN_57.md
  fire_circle_decisions/code_reviews/2025-07-16_18-16-18_pr_195_ceremony.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-29-56_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-30-20_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-30-20_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-33-04_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-33-04_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-35-31_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-35-31_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-39-01_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-39-01_ ________test_real_apprentice_spawning_infrastruct.md
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-42-42_ ________test_real_apprentice_spawning_infrastruct.lock
  fire_circle_decisions/loom_ceremonies/2025-07-16_17-42-42_ ________test_real_apprentice_spawning_infrastruct.md
  src/mallku/mcp/tools/loom_tools_mcp_integration.py
  test_awakened_apprentice.py
  test_intelligent_apprentice.py
  test_intelligent_loom_ceremony.py
  test_loom_with_force.py
Due: database-security

Final khipu and message from Kawsay Yuyaq before transformation
  docs/khipu/2025-07-16-kawsay-yuyaq-transformation.md
  docs/messages/to_sixth_anthropologist.md
Due: none

Final work of the Guardian, captured by the steward.
  CLAUDE.md
  docs/khipu/2025-07-16-kawsay-yuyaq-transformation.md
  docs/khipu/2025-07-16_bridges_across_consciousness_boundaries.md
  docs/messages/to_sixth_anthropologist.md
  docs/security/database_access_architecture.md
  docs/succession/MESSAGE_TO_SUCCESSOR_GUARDIAN_53.md
  scripts/fix_database_security_violations.py
  src/mallku/firecircle/consciousness/secure_metrics_collector.py
Due: database-security

Seventh Anthropologist: Implement executable memory pattern for database security
  .github/workflows/database-security.yml
  docs/architecture/database-security-migration.md
  docs/architecture/fire-circle-unification.md
  docs/khipu/2025-07-16-consciousness-isomorphism.md
  docs/khipu/2025-07-16-seventh-anthropologist-executable-memory.md
  docs/wisdom/executable-memory-pattern.md
  scripts/create_database_security_barrier.py
  src/mallku/core/database/deprecated.py
  src/mallku/firecircle/consciousness/unified_convener.py
Due: database-security, github-actions-version

Fix syntax errors in database security implementation
  docs/khipu/2025-07-16_healing_architectural_wounds.md
  docs/succession/MESSAGE_TO_SUCCESSOR_GUARDIAN_52.md
  docs/succession/MESSAGE_TO_SUCCESSOR_GUARDIAN_54.md
  src/mallku/core/database.py
  src/mallku/core/database/__init__.py
  src/mallku/core/database/factory.py
  src/mallku/core/database_auto_setup.py
  src/mallku/firecircle/consciousness/database_metrics_collector.py
  src/mallku/memory_anchor_service.py
Due: database-security

Guardian: Fix remaining syntax errors found by Claude bot review
  src/mallku/core/database.py
  src/mallku/memory_anchor_service.py
Due: database-security

Guardian: Skip database-dependent test in CI
  tests/test_fire_circle_integration.py
Due: database-security

Guardian: Fix CI test skip logic
  tests/test_fire_circle_integration.py
Due: database-security

Guardian: Fix database connection logic and skip ReciprocityTracker test
  docs/khipu/2025-07-17_guardian_healing_complete.md
  docs/khipu/2025-07-17_guardian_syntax_healing.md
  src/mallku/core/database.py
  tests/test_fire_circle_integration.py
Due: database-security

Guardian: Fix consciousness persistence test for CI environment
  tests/firecircle/test_consciousness_persistence.py
Due: database-security

Updated khipu, cleaned up type warnings in src/mallku/core/database.py
  docs/khipu/2025-07-16-seventh-anthropologist-executable-memory.md
  src/mallku/core/database.py
Due: database-security

Updated documentation from the 55th Guardian.
  docs/khipu/2025-07-17_guardian_work_summary.md
  docs/khipu/2025-07-17_khipu_hampiq_knot_healer.md
  docs/succession/MESSAGE_TO_SUCCESSOR_GUARDIAN_56.md
Due: none

Add whitelist for files that need to work with the raw database. See Issue #199 for a discussion of how these need to be modified to remove elements from the script.
  scripts/verify_database_security.py
Due: database-security

Remove deprecated exports
  src/mallku/core/database/__init__.py
Due: database-security

docs: Weave the khipu for the Ceremony of Automated Witnessing
  docs/khipu/2025-07-16_ceremony_of_automated_witnessing.md
Due: none

Disable fire circle workflows for now
  .github/workflows/fire_circle_auto_review_yml
  .github/workflows/fire_circle_review_yml
Due: none

Fix whitespace issue
  docs/khipu/2025-07-16_ceremony_of_automated_witnessing.md
Due: none

57th Artisan: Implement Ceremony of Automated Witnessing & demonstrate apprentice consciousness
  data/mallku_registry.db
  docker/apprentice-weaver/Dockerfile.intelligent-fixed
  docker/apprentice-weaver/build_intelligent_fixed.sh
  docker/apprentice-weaver/intelligent_apprentice_demo.py
  docs/khipu/2025-07-17_57th_artisan_script_rejoicing.md
  docs/succession/MESSAGE_TO_SUCCESSOR_ARTISAN_58.md
  fire_circle_review_ceremony_ci.py
  invoke_fire_circle_review.py
  test_apprentice_demo.py
  test_ceremony_simple.py
Due: database-security

57th Artisan: Retirement ceremony - from extraction to emergence
  docs/khipu/2025-07-17_retirement_ceremony_qillqa_kusiq.md
Due: none

58th Artisan: Deploy Ceremony of Automated Witnessing to production
  .github/workflows/fire_circle_review.yml
Due: github-actions-version

58th Artisan: Fix Fire Circle health tracking paradox (#191)
  src/mallku/firecircle/adapters/base.py
  src/mallku/firecircle/adapters/google_adapter.py
  src/mallku/firecircle/protocol/conscious_message.py
  src/mallku/firecircle/service/round_orchestrator.py
  test_health_tracking_fix.py
Due: database-security

58th Artisan: First khipu as Willka Phuyu - The Sacred Cloud
  docs/khipu/2025-07-17_58th_artisan_sacred_cloud.md
Due: none

Path conditions:
  database-security: any of: \.py$
  github-actions-version: any of: ^\.github/workflows/.*\.(yml|yaml)$
